{% extends "drinx/backend_layout.html" %}
{% load static %}


{% block body %}   
    <div class="category-body">
        <h4>Categories</h4>
        <small>Change or add new categories</small>
            <table style="table-layout:auto;">
                <tr>
                    <th>Id</th>
                    <th>Category name</th>
                    <th>Description</th>
                    <th>Active</th>
                    <th>Rank</th>
                    <th>Save</th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <form onsubmit="form_save(event, {{ category.id }})" id="category_form_{{ category.id }}" action="{% url 'backend_categories' %}" method="post">
                            {% csrf_token %}
                            <td><input autofocus class="form-control" type="text" name="id" placeholder="id"  value ="{{ category.id }}" required readonly="true"></td>
                            <td><input onkeydown="form_changed({{ category.id }})" autofocus class="form-control" type="text" name="name" placeholder="Category name"  value ="{{ category.name }}" required></td>
                            <td><input onkeydown="form_changed({{ category.id }})" autofocus class="form-control" type="text" name="description" placeholder="Description"  value ="{{ category.description }}" required></td>
                            {% if category.is_active %}
                                <td><input onclick="form_changed({{ category.id }})" autofocus type="checkbox" name="is_active" placeholder="True/False"  value ="True" checked></td>
                            {% else %}
                                <td><input onclick="form_changed({{ category.id }})" autofocus type="checkbox"  name="is_active" placeholder="True/False"  value ="True"></td>
                            {% endif %} 
                            <td><input onkeydown="form_changed({{ category.id }})" onclick="form_changed({{ category.id }})" autofocus class="form-control" type="number" min="1" max="99" name="display_order" placeholder="23"  value ="{{ category.display_order }}" required></td>
                            <td>
                                <input id="save_btn_{{ category.id }}" class="btn btn-primary" type="submit" value="Save" hidden>
                                <input id="delete_btn_{{ category.id }}" class="btn btn-danger" type="submit" value="Delete">
                            </td>
                        </form>
                    </tr>
                {% endfor %}
                <tr>
                    <form onsubmit="form_save(event, 'new')" id="category_form_new" action="{% url 'backend_categories' %}" method="post">
                        {% csrf_token %}
                        <td><input autofocus class="form-control" type="text" name="id" value="auto" readonly="true"></td>
                        <td><input autofocus class="form-control" type="text" name="name" placeholder="Category name" required></td>
                        <td><input autofocus class="form-control" type="text" name="description" placeholder="Description" required></td>
                        <td><input autofocus type="checkbox" name="is_active" placeholder="True/False" value ="True"></td>
                        <td><input autofocus class="form-control" type="number" min="1" max="99" name="display_order" placeholder="int" required></td>
                        <td><input id="save_btn_new"class="btn btn-primary" type="submit" value="Add"></td>
                    </form>
                </tr>
            </table>
    </div>

   
{% endblock %}