{% extends "drinx/backend_layout.html" %}
{% load static %}


{% block body %}   
    <div class="category-body">
        <h4>Categories</h4>
        <small>Change or add new categories</small>
            
        <div class="grid-container gridhead">
            <div class="grid-item">Id</div>
            <div class="grid-item">Category name</div>
            <div class="grid-item">Description</div>  
            <div class="grid-item">Active</div>
            <div class="grid-item">Rank</div>
            <div class="grid-item item1">Update</div>
        </div>
        
        {% for category in categories %}
            <form onsubmit="form_save(event)" class="grid-container" action="{% url 'backend_categories' %}" method="post">   
                <input autofocus class="grid-item" type="text" name="id" placeholder="id"  value ="{{ category.id }}" required readonly="true">
                <input onkeydown="form_changed(event)" autofocus class="grid-item" type="text" name="name" placeholder="Category name"  value ="{{ category.name }}" required>
                <input onkeydown="form_changed(event)" autofocus class="grid-item" type="text" name="description" placeholder="Description"  value ="{{ category.description }}" required>
                {% if category.is_active %}
                    <div class="checkbox-format">
                        <input onclick="form_changed(event)" class="grid-item" autofocus type="checkbox" name="is_active" value ="True" checked>
                    </div>
                {% else %}
                    <div class="checkbox-format">
                        <input onclick="form_changed(event)" class="grid-item" autofocus type="checkbox"  name="is_active" value ="True">
                    </div>
                {% endif %} 
                <input onkeydown="form_changed(event)" onclick="form_changed(event)" autofocus class="grid-item" type="number" min="1" max="99" name="display_order" placeholder="23"  value ="{{ category.display_order }}" required>
                <div class="checkbox-format">
                    <input class="btn btn-danger grid-item" type="submit" name ="delete" value="Delete">
                </div>
                <div class="checkbox-format">
                    <input class="btn btn-primary grid-item" type="submit" name="save" value="Save" hidden>
                </div>
            </form>
        {% endfor %}
        <form onsubmit="form_save(event)" class="grid-container" action="{% url 'backend_categories' %}" method="post">   
            <input autofocus class="grid-item" type="text" name="id" placeholder="id"  value ="auto" required readonly="true">
            <input onkeydown="form_changed(event)" autofocus class="grid-item" type="text" name="name" placeholder="Category name"  required>
            <input onkeydown="form_changed(event)" autofocus class="grid-item" type="text" name="description" placeholder="Description" required>
            <div class="checkbox-format">
                <input onclick="form_changed(event)" class="grid-item" autofocus type="checkbox" name="is_active" value ="True">
            </div>
            <input onkeydown="form_changed(event)" onclick="form_changed(event)" autofocus class="grid-item" type="number" min="1" max="99" name="display_order" placeholder="int" required>
            <div class="checkbox-format">
                <input class="btn btn-danger grid-item" type="submit" name ="delete" value="Delete" hidden>
            </div>
            <div class="checkbox-format">
                <input class="btn btn-primary grid-item" type="submit" name="save" value="Add">
            </div>
        </form>

        <div class="popuptext" id="myPopup">Successfully updated!</div>
   
{% endblock %}

{% block script %}
<script src="{% static 'drinx/backend_categories.js' %}"></script>
{% endblock %}