{% extends "drinx/layout.html" %}
{% load static %}


{% block body %}
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'drinx/images/SliderImage1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-align:left">
                <h1>Get up and running...</h1>
                <h4>...with our mojito</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'drinx/images/SliderImage2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-align:left">
                <h1>Tell her that you love her...</h1>
                <h4>...with our Campari</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'drinx/images/SliderImage3.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-align:left">
                <h1>Bitter but sweet...</h1>
                <h4>...have a look at our gins</h4>
            </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h2 style="margin-top:20px; margin-left:10px;">Our Categories</h1>
    
    {% for category in categories %}
        <div class="category-selector">
            <a style="text-decoration: none; color: black;" href="{% url 'articles' category.id %}">
                <div>
                    <strong>{{ category.name }}</strong>
                    <br>
                    {{ category.description }}
                </div>     
            </a>
        </div>
    {% endfor %}
    <div class="category-selector">
        <a style="text-decoration: none; color: black;" href="{% url 'articles' 0 %}">
            <div>
                <strong>All</strong>
                <br>
                ...or if you like have a look at all our articles
            </div>     
        </a>
    </div>
    
    
    
{% endblock %}

{% block script %}
    <script src="{% static 'drinx/index.js' %}"></script>
{% endblock %}


