{% extends "drinx/layout.html" %}
{% load static %}


{% block body %}
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" style="-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: black;">
        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'drinx/images/SliderImage1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-align:left">
                <h1>Get up and running...</h1>
                <h4>...with our mojito</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'drinx/images/SliderImage2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-align:left">
                <h1>Tell her that you love her...</h1>
                <h4>...with our Campari</h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'drinx/images/SliderImage3.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-align:left">
                <h1>Bitter but sweet...</h1>
                <h4>...have a look at our gins</h4>
            </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>

    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    <p>Drink</p>
    
    
    
{% endblock %}

{% block script %}
    <script src="{% static 'drinx/index.js' %}"></script>
{% endblock %}


