.navbar-toggler-icon {
    font-size: 0.6em;
}

.close-icon {
    font-size: 0.6em;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
 }

 .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: none;
 }

 .container-log {
    padding-left: 2%;
    padding-right: 2%;
    width:500px;
    max-width:100%;
 }

 .category-body {
     margin: 20px 10px 10px 10px;
 }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .popuptext {
    visibility: hidden;
    width: 200px;
    height: 80px;
    background-color: green;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    z-index: 1;
    position: fixed;
    right: 50px;
    bottom: 100 px;
  }

 .show {
    animation-name: popup;
    animation-duration: 2s;
  }

  @keyframes popup {
    0% {
      opacity: 0;
      visibility: visible;
    }
    25% {
      opacity: 1;
      visibility: visible;
    }
    75% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 70px 1fr 2fr 70px 70px 70px 70px;
    padding: 0;
  }
  
  .gridhead {
    position: sticky;
    top: 0;
    font-weight: bold;
    background-color: lightgrey;
  }
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-family: arial, sans-serif;
    padding: 10px;
  }

  .item1 {
    grid-column-start: 6;
    grid-column-end: 8;
  }

  .checkbox-format {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0;
    text-align:center;
  }

 