.navbar-toggler-icon {
    font-size: 0.6em;
}

.close-icon {
    font-size: 0.6em;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
 }

 .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: none;
 }

 .container-log {
    padding-left: 2%;
    padding-right: 2%;
    width:500px;
    max-width:100%;
 }

 .category-body {
     margin: 20px 10px 10px 10px;
 }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


 